.container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 15px;
	height: 700px;
}
.child {
	display: grid;
	grid-gap: 15px;
	text-align: center;
	color: tomato;
}
.items {
	background-color: #a8ec9b;
}
.child div {
  background-color: #a8ec9b;
}
